<section *ngIf="projects.length > 0; else noProjects" class="projects">
    <article *ngFor="let project of projects" class="project" onclick="openProject(1)">
        <h3>{{ project.projectName }}</h3>
        <p>{{ project.projectDescription }}</p>
        <p><strong>Owner:</strong> DummyUser1</p>
        <p><strong>Assigned Users:</strong> {{ project.assignedUsers.length }}</p>
    </article>
</section>

<ng-template #noProjects>
    <h1>Welcome to TickIt</h1>
    <p>No Projects were found.</p>
    <button>Create a Project</button>
</ng-template>