main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    font-family: 'Arial', sans-serif;
    padding: 2em;
  }
  
  .profile {
    background: #fff;
    border-radius: 0.75em;
    box-shadow: 0.5em 1em 1em 1em rgba(0, 0, 0, 0.1);
    padding: 2em 10em 5em;
    max-width: 25em;
    width: 100%;
    text-align: center;
  }
  
  .image-container {
    margin-bottom: 1.5em;
  }
  
  .userImage {
    width: 7.5em;
    height: 7.5em;
    border-radius: 50%;
    object-fit: cover;
    border: 0.25em solid #4e54c8;
  }
  
  h2 {
    font-size: 1.8em;
    margin-bottom: 1em;
    color: #4e54c8;
  }
  
  .personalInfo p {
    font-size: 1em;
    color: #555;
    margin: 0.5em 0;
  }

  .personalInfo{
    border:none;
    box-shadow: 1em 1em 1em 1em rgba(0, 0, 0, 0.1);
    margin: 1em;
    padding-bottom: 1em;
    padding-top: 1em;

  }
  
  .personalInfo p strong {
    color: #333;
  }
  
  button {
    background-color: #4e54c8;
    color: #fff;
    padding: 0.6em 1.2em;
    border: none;
    border-radius: 0.3em;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .logout-button button:hover {
    background-color: #373b90;
    transform: scale(1.05);
  }
  
  .logout-button button:focus {
    outline: none;
    box-shadow: 0 0 0.5em rgba(78, 84, 200, 0.6);
  }
  