<article class="task-popup">
  <button class="close-btn" (click)="closeTaskView()">×</button>
  <section class="task-content">
    <section class="task-main">
      <h2 class="task-name">
        <span *ngIf="!isEditMode">{{ task.taskName }}</span>
        <input *ngIf="isEditMode" [(ngModel)]="task.taskName" placeholder="Task Name" />
        <mark>#{{ taskId }}</mark>
      </h2>
      <p class="task-description">
        <span *ngIf="!isEditMode">{{ task.taskDescription }}</span>
        <textarea *ngIf="isEditMode" [(ngModel)]="task.taskDescription" placeholder="Task Description"></textarea>
      </p>
    </section>

    <aside class="sidebar">
      <section class="sidebar-item">
        <p><strong>Project Name:</strong> {{ project.projectName }}</p>
      </section>

      <section class="sidebar-item">
        <p><strong>Assignee:</strong> {{ assignee.gitHubID }}</p>
      </section>

      <section class="sidebar-item">
        <p>
          <strong>Due Date:</strong>
          <span *ngIf="!isEditMode">{{ task.dueDate | date }}</span>
          <input *ngIf="isEditMode" type="date" [(ngModel)]="task.dueDate" />
        </p>
      </section>

      <section class="sidebar-item">
        <p>
          <strong>Priority: </strong>
          <span *ngIf="!isEditMode">{{ priority }}</span>
          <select *ngIf="isEditMode" [(ngModel)]="priorityId">
            <option *ngFor="let option of getPriorityOptions()" [value]="option.value">{{option.label}}</option>
          </select>
        </p>
      </section>

      <section class="sidebar-item">
        <p>
          <strong>Status: </strong>
          <span *ngIf="!isEditMode">{{ status }}</span>
          <select *ngIf="isEditMode" [(ngModel)]="statusId">
            <option *ngFor="let option of getStatusOptions()" [value]="option.value">{{option.label}}</option>
          </select>
        </p>
      </section>

      <section class="sidebar-item">
        <strong>Task Labels:</strong>
        <ul>
          <li *ngFor="let label of task.projectLabelIds">{{ label }}</li>
        </ul>
      </section>
    </aside>

    <button class="edit-btn" (click)="toggleEditMode()">
      {{ isEditMode ? 'Save' : 'Edit' }}
    </button>
    <button *ngIf="isEditMode" class="cancel-btn" type="button" (click)="cancelEdit()">
      Cancel
    </button>
  </section>
</article>
