.task-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  z-index: 1000;
}

.task-content {
  position: relative;
  background: white;
  padding: 20px;
  display: flex;
  max-width: 90%;
  min-width: 800px;
  width: auto;
  min-height: 50vh;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  z-index: 1001;
}

.task-main {
  flex: 1;
  margin-right: 20px;
  overflow-wrap: break-word;
}

.task-name {
  font-size: 24px;
  font-weight: bold;
}

.task-description {
  font-size: 16px;
  margin-top: 10px;
  overflow-wrap: break-word;
}

.sidebar {
  width: 40%;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 5px;
  flex-shrink: 0;
}

.sidebar-item {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

  ul li {
    background: #e0e0e0;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
  }

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #f8f8f8;
  border: 2px solid #333;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 30px;
  color: #333;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .close-btn:hover {
    color: #fff;
    border-color: #f00;
    background-color: #f00;
  }

.edit-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

  .edit-btn:hover {
    background: #0056b3;
  }

.cancel-btn {
  position: absolute;
  bottom: 20px;
  right: 120px; 
  padding: 10px 20px;
  background: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

  .cancel-btn:hover {
    background: #c82333;
  }
