<main class="task-board">
    <header>
      <h1>Task Board</h1>
      <button (click)="openTaskForm()">Create New Task</button>
    </header>
  
    <section class="task-columns">
      <section class="column">
        <header>
          <h2>To Do</h2>
        </header>
        <section 
          class="task-list" 
          (dragover)="allowDrop($event)" 
          (drop)="dropTask($event, TaskStatus.ToDo)"
        >
          <article 
            class="task-card" 
            *ngFor="let task of todoTasks$ | async" 
            draggable="true" 
            (dragstart)="dragStart($event, task)"
          >
            <header>
              <h3>{{ task.name }}</h3>
              <span class="priority-badge priority-{{ getPriorityLabel(task.priority).toLocaleLowerCase() }}">{{ getPriorityLabel(task.priority) }}</span>
            </header>
            <footer>
              <time *ngIf="isValidDate(task.dueDate)">Due: {{ task.dueDate | date }}</time>
              <address *ngIf="task.assigneeId">
                {{ getAssignedUserName(task.assigneeId) }}
              </address>
              <div class="task-actions">
                <button (click)="openTaskForm(task)">Edit</button>
                <button (click)="deleteTask(task.id)">🗑️ Delete</button>

              </div>
            </footer>
          </article>
        </section>
      </section>
  
      <section class="column">
        <header>
          <h2>In Progress</h2>
        </header>
        <section 
          class="task-list" 
          (dragover)="allowDrop($event)" 
          (drop)="dropTask($event, TaskStatus.ToDo)"
        >
          <article 
            class="task-card" 
            *ngFor="let task of todoTasks$ | async" 
            draggable="true" 
            (dragstart)="dragStart($event, task)"
          >
            <header>
              <h3>{{ task.name }}</h3>
              <span class="priority-badge priority-{{ getPriorityLabel(task.priority).toLocaleLowerCase() }}">{{ getPriorityLabel(task.priority) }}</span>
            </header>
            <footer>
                <time *ngIf="isValidDate(task.dueDate)">Due: {{ task.dueDate | date }}</time>
              <address *ngIf="task.assigneeId">
                {{ getAssignedUserName(task.assigneeId) }}
              </address>
              <div class="task-actions">
                <button (click)="openTaskForm(task)">Edit</button>
                <button (click)="deleteTask(task.id)">🗑️ Delete</button>
              </div>
            </footer>
          </article>
        </section>
      </section>
  
      <section class="column">
        <header>
          <h2>In Review</h2>
        </header>
        <section 
          class="task-list" 
          (dragover)="allowDrop($event)" 
          (drop)="dropTask($event, TaskStatus.InProgress)"
        >
          <article 
            class="task-card" 
            *ngFor="let task of inProgressTasks$ | async" 
            draggable="true" 
            (dragstart)="dragStart($event, task)"
          >
            <header>
              <h3>{{ task.name }}</h3>
              <span class="priority-badge priority-{{ getPriorityLabel(task.priority).toLocaleLowerCase() }}">{{ getPriorityLabel(task.priority) }}</span>
            </header>
            <footer>
                <time *ngIf="isValidDate(task.dueDate)">Due: {{ task.dueDate | date }}</time>
              <address *ngIf="task.assigneeId">
                {{ getAssignedUserName(task.assigneeId) }}
              </address>
              <div class="task-actions">
                <button (click)="openTaskForm(task)">Edit</button>
                <button (click)="deleteTask(task.id)">🗑️ Delete</button>
              </div>
            </footer>
          </article>
        </section>
      </section>
  
      <section class="column">
        <header>
          <h2>Completed</h2>
        </header>
        <section 
          class="task-list" 
          (dragover)="allowDrop($event)" 
          (drop)="dropTask($event, TaskStatus.Completed)"
        >
          <article 
            class="task-card" 
            *ngFor="let task of completedTasks$ | async" 
            draggable="true" 
            (dragstart)="dragStart($event, task)"
          >
            <header>
              <h3>{{ task.name }}</h3>
              <span class="priority-badge priority-{{ getPriorityLabel(task.priority).toLocaleLowerCase() }}">{{ getPriorityLabel(task.priority) }}</span>
            </header>
            <footer>
                <time *ngIf="isValidDate(task.dueDate)">Due: {{ task.dueDate | date }}</time>
              <address *ngIf="task.assigneeId">
               {{ getAssignedUserName(task.assigneeId) }}
              </address>
              <div class="task-actions">
                <button (click)="openTaskForm(task)">Edit</button>
                <button (click)="deleteTask(task.id)">🗑️ Delete</button>
              </div>
            </footer>
          </article>
        </section>
      </section>
    </section>
  
    <dialog [open]="showTaskForm">
      <article>
        <header>
          <h2>{{ editingTask ? 'Edit Task' : 'Create New Task' }}</h2>
        </header>
        <form [formGroup]="taskForm" (ngSubmit)="saveTask()">
          <label>
            Name:
            <input type="text" formControlName="name">
          </label>
          <label>
            Description:
            <textarea formControlName="description"></textarea>
          </label>
          <label>
            Due Date:
            <input type="date" formControlName="dueDate">
          </label>
          <label>
            Priority:
            <select formControlName="priority">
              <option *ngFor="let p of priorities" [value]="p.value">{{ p.label }}</option>
            </select>
          </label>
          <label>
            Assignee:
            <select formControlName="assigneeId">
              <option *ngFor="let user of assignedUsers" [value]="user.id">{{ user.gitHubID }}</option>
            </select>
          </label>
          <footer>
            <button type="submit" [disabled]="taskForm.invalid">Save</button>
            <button type="button" (click)="closeTaskForm()">Cancel</button>
          </footer>
        </form>
      </article>
    </dialog>
  </main>
  