.side-nav {
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #050505;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    transition: width 0.3s ease;
}

.side-nav.closed {
    width: 6.8%;
}

.side-nav .user-info {
    text-align: center;
    transition: opacity 0.3s ease;
}

.side-nav.closed .user-info {
    margin-top: 4em;
    opacity: 3;
}

.side-nav .user-info img {
    width:40%;
    height: 50%;
    border-radius: 50%;
    margin-top: 2em;
    margin-bottom: 1rem;
    transition: width 0.3s ease, height 0.3s ease;
}

.side-nav.closed .user-info img {
    margin-bottom: 0;
    width: 60%;
    height: 40%;
}

.side-nav .user-info p {
    font-size: 1rem;
}

.side-nav nav ul {
    list-style: none;
    padding: 0;
}

.side-nav nav ul li {
    margin: 1rem 0;
}



.side-nav nav ul li a {
    text-decoration: none;
    color: #fff;
    margin-top: 2em;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    display: block;
    border-radius: 1em;
    transition: background 0.3s ease;
}

.side-nav.closed nav ul li a {
    text-decoration: none;
    color: #fff;
    margin-top: 2em;
    font-size: 1.2rem;
    padding: 0.5rem 0.3rem;
    display: block;
    border-radius: 1em;
    transition: background 0.3s ease;
}


.side-nav nav ul li a:hover {
    background-color: #d9534f;
}



.logout-button {
    margin-top: 4em;
    padding: 0.5rem 1rem;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.logout-button:hover {
    background-color: #c9302c;
}


main {
    margin-left: 4em;
    padding: 1rem;
    transition: margin-left 0.3s ease;
}

main.shifted {
    margin-left: 15em;
}

.side-nav.closed + main {
    margin-left: 8em;
}

.toggle-btn {
    position: fixed;
    top: 1rem;
    left: 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 1000;
}
@media screen and (max-width: 1024px) {
    
    .side-nav.closed {
        width: 12%;
    }
    
    
    .side-nav.closed nav ul li a {
        margin-top: 4em;
    }
    
    
    
    main {
        margin-left: 4em;
        padding: 1rem;
        transition: margin-left 0.3s ease;
    }
    
    main.shifted {
        margin-left: 15em;
    }
    
    .side-nav.closed + main {
        margin-left: 8em;
    }
}


@media screen and (max-width: 768px) {
   
    .side-nav.closed {
        width: 10%;
    }
    
    
    
    .side-nav.closed nav ul li a {
        margin-top: 2em;
        font-size: 1rem;
        padding: 0.2rem 0.1rem;
    }
    
    
    main.shifted {
        margin-left: 8em;
    }
    
    .side-nav.closed + main {
        margin-left: 8em;
    }
}
@media screen and (max-width: 480px) {
    .side-nav {
        width: 25%;
    }

    .side-nav.closed {
        display: none;
    }

    .side-nav .user-info {
        text-align: center;
        transition: opacity 0.3s ease;
    }

    .side-nav.closed .user-info {
        display: none;
    }

    .side-nav .user-info img {
        width: 60%;
        height: 40%;
        margin-top: 3em;
    }

    .side-nav nav ul li a {
        text-decoration: none;
        color: #fff;
        margin-top: 3em;
        font-size: 1rem;
        padding: 0 0.2rem;
        display: block;
        border-radius: 1em;
        transition: background 0.3s ease;
    }

    .side-nav nav ul li a:hover {
        background-color: #d9534f;
    }

    .logout-button {
        margin-top: auto;
        padding: 0.5rem 1rem;
        background-color: #d9534f;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s ease;
    }

    .logout-button:hover {
        background-color: #c9302c;
    }

    main {
        margin-left: 0;
        width: 100%; 
        padding: 0.2rem;
        transition: margin-left 0.3s ease;
    }

    main.shifted {
        margin-left: 0; 
    }

    .side-nav.closed + main {
        margin-left: 1em;
    }
}


