<aside class="side-nav">
    <section class="user-info">
        <img routerLink="profile" src="{{userImage}}" alt="">
        <p routerLink="profile">{{userName}}</p>
    </section>

    <nav>
        <ul>
            <li><a routerLink="projects">Projects</a></li>
            <li><a routerLink="tasks">Tasks</a></li>
            <li><a routerLink="notifications">Notifications</a></li>
        </ul>
    </nav>

    <button class="logout-button" (click)="logout()">Logout</button>
</aside>

<main>
    <router-outlet/>
</main>