<button class="toggle-btn" (click)="toggleSidebar()">☰</button>

<aside class="side-nav" [class.closed]="!isSidebarOpen">
    <section class="user-info">
        <img routerLink="profile" [src]="userImage" alt="User Image" />
        <p routerLink="profile">{{ userName }}</p>
    </section>

    <nav>
        <ul>
            <li><a routerLink="projects">Projects</a></li>
            <li><a routerLink="task-filter">Tasks</a></li>
            <li><a routerLink="notifications">Notifications</a></li>
        </ul>
    </nav>

    <button class="logout-button" (click)="logout()">Logout</button>
</aside>

<main [class.shifted]="isSidebarOpen">
    <router-outlet></router-outlet>
</main>
