* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.burger-button {
  position: fixed;
  top: 1rem;
  left: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}

  .burger-button span {
    display: block;
    width: 2rem;
    height: 0.25rem;
    background-color: #e22929;
    margin: 0.25rem 0;
    transition: transform 0.3s, opacity 0.3s;
  }

    /* X Icon (Default State) */
    .burger-button span:nth-child(1) {
      transform: translateY(0.5rem) rotate(45deg);
    }

    .burger-button span:nth-child(2) {
      opacity: 0;
    }

    .burger-button span:nth-child(3) {
      transform: translateY(-0.5rem) rotate(-45deg);
    }

    /* Burger Icon (When Menu is Hidden) */
    .burger-button.active span:nth-child(1) {
      transform: translateY(0) rotate(0);
    }

    .burger-button.active span:nth-child(2) {
      opacity: 1;
    }

    .burger-button.active span:nth-child(3) {
      transform: translateY(0) rotate(0);
    }

.burger-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 13.625rem;
  height:70vh;
  background-color: #151517;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  gap: 1.25rem;
  transform: translateX(0);
  transition: transform 0.5s;
}

  .burger-menu-container.hide {
    transform: translateX(-100%);
  }

.user-info {
    text-align: center;
}

.user-info img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 0.125rem solid #ffffff;
    object-fit: cover;
}

.user-info p {
    margin-top: 0.625rem;
    font-weight: bold;
    font-size: 1rem;
}

.burger-menu-container nav ul {
  list-style: none;
  width: 100%;
}

  .burger-menu-container nav ul li {
    width: 100%;
    margin: 0.625rem 0;
  }

    .burger-menu-container nav ul li a {
      display: block;
      padding: 0.75rem 1.25rem;
      color: #ffffff;
      text-decoration: none;
      border-radius: 0.313rem;
      transition: background 0.3s;
    }

      .burger-menu-container nav ul li a:hover {
        background-color: #e61f1f;
      }

      .burger-menu-container nav ul li a.active {
        background-color: #d11f1f;
      }

.show {
  transform: translateX(0);
}

.hide {
  transform: translateX(-100%);
}

.logout-button {
    margin-top: 2em;
    width: 100%;
    padding: 1em;
    background-color: #bba2a2;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.313rem;
    transition: background 0.3s;
}

.logout-button:hover {
    background-color: #ff1a1a;
}

main {
    margin-left: 15.625rem;
    padding: 1.25rem;
}

@media screen and (max-width: 768px) {
  .burger-menu-container {
    width: 13.625rem;
    height:70vh;
  
  }
}

@media screen and (max-width: 480px) {
  .burger-menu-container {
    width: 11.625rem;
    height:70vh;
  }

  .user-info img{
    width: 40%;
    height: 60%;
  }
}

@media screen and (max-width: 400px) {
  .burger-menu-container {
    width: 18.625rem;
    padding: 1em;
  }

  .user-info img{
    width: 30%;
    height: 40%;
  }

  .logout-button {
    margin-top: 0;
    width: 100%;
    padding: 0.4em;
}

}

@media screen and (max-width: 1024px) {
  .burger-menu-container {
    width: 11.625rem;
    height:50vh;
  }

  .user-info{
    margin-top: 2em;
  }
}
